body{
    margin: 0;
}

.banner{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#navigator{
    height: 300px;
    width: 300px;
    background: url(icons/front.jpg);
    position: absolute;
    top: 180px;
    left: 600px;
    transition: 0.21s;
}

#left{
    width: 180px;
    height: 180px;
    background-color: blanchedalmond;
    position: absolute;
    left: 0;
    top: 250px;
}


#right{
    width: 180px;
    height: 180px;
    background-color: blanchedalmond;
    position: absolute;
    right: 0;
    top: 250px;
}